{{#each this}}
<li class="item gallery-item">
    {{#if poster_path}}
    <div class='card-thumb'>
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" class='gallery-item_image' alt="{{title}} poster" data-id="{{id}}"/>
    {{else}}
    <img class='gallery-item_noimage' src='https://i.ibb.co/8mnHvb2/no-poster.jpg' alt='no_poster' data-id="{{id}}"/>
    {{/if}}
    <div class="gallery-item_text">
        <p class="gallery-item_title title" data-id="{{id}}">{{title}} </p>
        <ul class='gallery-item_genres-list'>
            {{#each genres}}
            <li class='gallery-item_genres-item'>{{name}}{{#unless @last}},{{/unless}}</li>
            {{/each}}
        <p class="gallery-item_year"><span class='gallery-item_delimeter'>|</span>{{year}}</p>
        {{!-- <span class="gallery-item__rating">{{vote_average}}</span> --}}
    </div>
    </div>
</li>
{{/each}}



