<div class='modal-film__container' id={{id}}>
    <div class="modal-close__btn-wrapper">
        <button type='button' class='modal-close-btn js-modal-close-btn '>
    <svg  class="close" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2" />
    </svg>
    </button>
    </div>

    <div class='modal-film__img-container'>
        {{#if poster_path}}
        <img class='modal-film__img' src='https://image.tmdb.org/t/p/w500{{poster_path}}' //old value - w780
            alt='{{title}}' />
        {{else}}
        <img class='modal-film_noimg' src='https://i.ibb.co/8mnHvb2/no-poster.jpg' alt='no_poster' />
        {{/if}}
    </div>

    <div class='modal-film__description'>
   <h2 class="modal-film__title">{{title}}</h2>
       
        <ul>
            <li class="modal-film__info">
                <p class="modal-film__info--names lng-vote">Vote / Votes</p>
                <p class="modal-film__info--text">
                    <span class="modal-film__rating">{{vote_average}}</span>
                    <span class="modal-film__rating--divider"> / </span>
                    <span>{{vote_count}}</span>
                </p>
            </li>
            <li class="modal-film__info">
                <p class="modal-film__info--names lng-popularity">Popularity</p>
                <p class="modal-film__info--text">{{popularity}}</p>
            </li>
            <li class="modal-film__info">
                <p class="modal-film__info--names lng-title">Original title</p>
                <p class="modal-film__info--text">{{original_title}}</p>
            </li>
            <li class="modal-film__info">
                <p class="modal-film__info--names lng-genre">Genre</p>
                <p class="modal-film__info--text">
                    {{#if genres}}
                    {{#each genres}}
                    <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                    {{/each}}
                    {{else}}<span>N/A</span>
                    {{/if}}
                </p>
            </li>
        </ul>
        
    <div class='modal-film__about'>
        <h3 class="modal-film__about--title lng-about">About</h3>
        <p class="modal-film__about--text">
            {{overview}}
        </p>
       
    </div>
    <div class="modal-film__button__wrapper">
        <button type="button" class=" modal-film__button btn__watch lng-watch" data-id="{{id}}">Add to watched</button>
        <button type="button" class=" modal-film__button btn__queue lng-queue" data-id="{{id}}">Add to queue</button>
    </div>
    </div>
   
</div>







    